.App {
	text-align: center;
}
  
.App-title {
	font-size: calc(10px + 2vmin);
	color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	left: 50px;
	bottom:260px;
	text-align: center;
}

.App-Description {
	font-size: calc(10px + 2vmin);
	color: rgb(255, 255, 255);
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	left: 50px;
	bottom: 200px;
	text-align: center;
	line-height:0.23em;
}
