.model-title {
    text-shadow: 0 0 0.2em rgb(68, 151, 13);
    color: rgb(78, 110, 91);
    font-family: "Lucida Console", monospace;
}

.pad-cards > .col {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}