.body-text {
    max-width: 800px;
    font-size: 14px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header-style {
    background-color: #31623f;
    color: white;
    font-size: 35px;
    padding: 15px;
    font-family: "Lucida Handwriting", cursive;
    filter: drop-shadow(5px 5px 5px rgb(95, 106, 100));
}

/* img { causes things to break on the home page****
    margin-top: 25px;
    filter: drop-shadow(5px 5px 5px #435e56);
} */

h5 {
    text-decoration: underline;
}

button {
    background-color: #2a8443;
    border-radius: 12px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
}